$gray-navigation: #9597A2;
$blue-navigation: #149CDC;
$black-navigation: #040B14;
$white-navigation-footer: #eaebf0;

$gray-icons-background: #222431;

$gray-background: #F5F8FD;

$blue-underline: #149ddd;

$blue-title: #173b6c;
$blue-title-underline: #149ddd;

$black-description: #272829;
