$gray-navigation: #9597A2;
$blue-navigation: #149CDC;
$black-navigation: #040B14;
$white-navigation-footer: #eaebf0;

$gray-icons-background: #222431;

$gray-background: #F5F8FD;

$blue-underline: #149ddd;

$blue-section-title: #173b6c;
$blue-section-title-underline: #149ddd;
$black-section-item-title: #343a40;
$black-section-item-description: #272829;

$blue-skill-circle-background: #149ddd;

$black-description: #272829;

$gray-contact-reference-title: #45505b;
$gray-contact-reference-description: #728394;
$gray-contact-icon-background: #DFF2FC;
