<div class="contact gray-background">
  <div class="container">
    <span class="section-title">{{environment.sections.contact.title}}</span>
    <span class="section-description">{{environment.sections.contact.description}}</span>
    <div class="contact-section" data-aos="fade-in">
      <div class="contact-section__references">
        <div class="reference" *ngFor="let reference of REFERENCES">
          <div class="reference__icon">
            <div class="icon-container">
              <mat-icon class="icon" [svgIcon]="reference.icon"></mat-icon>
            </div>
          </div>
          <div class="reference__description">
            <div class="title">
              <span>{{reference.title}}</span>
            </div>
            <div class="content">
              <span>{{reference.content}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-section__email">
        <form class="form" [formGroup]="mailForm" (ngSubmit)="sendMessage()">
          <div class="form__first-line">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Type your name" formControlName="name">
              <mat-hint *ngIf="mailForm.controls['name'].invalid && (mailForm.controls['name'].touched)">
                Field is required
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Type your email" formControlName="email">
              <mat-hint *ngIf="mailForm.controls['email'].invalid && (mailForm.controls['email'].touched)">
                Field is required
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form__second-line">
            <mat-form-field appearance="outline">
              <mat-label>Subject</mat-label>
              <input matInput placeholder="Type the message subject" formControlName="subject">
              <mat-hint *ngIf="mailForm.controls['subject'].invalid && (mailForm.controls['subject'].touched)">
                Field is required
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form__third-line">
            <mat-form-field appearance="outline">
              <mat-label>Message</mat-label>
              <input matInput placeholder="Type the message body here" formControlName="message">
              <mat-hint *ngIf="mailForm.controls['message'].invalid && (mailForm.controls['message'].touched)">
                Field is required
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="form__fourth-line">
            <button mat-flat-button color="primary" type="submit" [disabled]="!mailForm.valid">Seng Message</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
