<div class="side-bar">
  <div class="side-bar__profile">
      <div class="avatar">
        <img ngSrc="{{ profileImageAddress }}" alt="Plate photo" height="104" width="104">
      </div>
      <div class="name">
        <span>Dmytro Sliusarenko</span>
      </div>
      <div class="links">
        <div class="link">
          <mat-icon class="icon" [svgIcon]="'github'"></mat-icon>
        </div>
        <div class="link">
          <mat-icon class="icon" [svgIcon]="'linkedin'"></mat-icon>
        </div>
        <div class="link">
          <mat-icon class="icon" [svgIcon]="'instagram'"></mat-icon>
        </div>
        <div class="link">
          <mat-icon class="icon" [svgIcon]="'discord'"></mat-icon>
        </div><div class="link">
          <mat-icon class="icon" [svgIcon]="'mail'"></mat-icon>
        </div>
      </div>
  </div>
  <div class="side-bar__navigation">
    <mat-nav-list *ngIf="navigationList$ | async as navigationList">
      <ng-container *ngFor="let listItem of navigationList">
        <a mat-list-item class="navigation-element" [routerLink]="'/'+listItem?.path" routerLinkActive="is-active">
          <mat-icon class="icon" [svgIcon]="listItem?.icon ?? ''"></mat-icon>
          <span class="text">{{listItem?.label}}</span>
        </a>
      </ng-container>
    </mat-nav-list>
  </div>
  <div class="side-bar__footer">
    <span>Developed by <a target="_blank" href="https://www.linkedin.com/in/dsliusarenko/">Dmytro Sliusarenko</a></span>
  </div>
</div>
