<div class="portfolio gray-background">
  <div class="container">
    <span class="section-title">{{ personalInformation.sections.portfolio.title }}</span>
    <span class="section-description">{{ personalInformation.sections.portfolio.description }}</span>
    <div class="projects-container">
      <div class="filters" data-aos="fade-up">
        <mat-button-toggle-group appearance="standard" name="fontStyle" aria-label="Font Style"
                                 [value]="ProjectFilters.ALL">
          <mat-button-toggle *ngFor="let filter of PROJECT_FILTERS"
                             value="{{filter.value}}" (click)="setFilter(filter)">
            {{ filter.label }}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="projects" data-aos="fade-up" data-aos-delay="100">
        <div class="project" *ngFor="let project of filteredProjects" data-aos="flip-up">
          <div class="project-inner rounded-5px">
            <div class="project-front rounded-5px">
              <img class="background" src="{{project.screenshotLink}}" alt="Project ScreenShot">
              <div class="black-interim"></div>
              <p class="title">{{ project.title }}</p>
              <mat-icon class="touch-icon" [svgIcon]="'touch'"></mat-icon>
            </div>
            <div class="project-back rounded-5px">
              <img class="background" src="{{project.screenshotLink}}" alt="Project ScreenShot">
              <div class="overlay">
                <div class="overlay__title">
                  <a href="{{project.linkLive}}" class="title" target="_blank">
                    {{ project.title }}
                  </a>
                </div>
                <div class="overlay__description">
                  <p class="description">{{ project.description }}</p>
                </div>
                <div class="overlay__bottom-nda" *ngIf="project.isUnderNDA; else notUnderNDA">
                  <button mat-raised-button [disabled]="project.isUnderNDA">Demo</button>
                  <sds-carousel [slides]="project.technologies" [initSlidesAmount]="initSlidesAmount"
                                [showTitles]="false"></sds-carousel>
                  <div class="icon-wrapper">
                    <a class="icon" matTooltip="Details under NDA">
                      <mat-icon [svgIcon]="'github'"></mat-icon>
                    </a>
                  </div>
                </div>
                <ng-template #notUnderNDA>
                  <div class="overlay__bottom">
                    <a href="{{project.linkLive}}" class="icon" target="_blank">
                      <button mat-flat-button color="primary">Demo</button>
                    </a>
                    <sds-carousel [slides]="project.technologies" [initSlidesAmount]="initSlidesAmount"
                                  [showTitles]="false"></sds-carousel>
                    <div class="icon-wrapper">
                      <a href="{{project.linkGit}}" class="icon" target="_blank">
                        <mat-icon [svgIcon]="'github'"></mat-icon>
                      </a>
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
