<div class="about white-background">
  <div class="container">
    <span class="section-title">{{personalInformation.sections.about.title}}</span>
    <span class="section-description">{{personalInformation.sections.about.description}}</span>
    <div class="about-section">
      <div class="about-section__photo" data-aos="fade-up" data-aos-duration="800">
        <img ngSrc="{{ personalInformation.imageProfilePortrait }}" alt="Plate photo" height="350" width="350">
      </div>
      <div class="about-section__description" data-aos="fade-down" data-aos-duration="800">
        <span class="profile-title">{{personalInformation.profileTitle}}</span>
        <span class="short-description">{{personalInformation.profileShortDescription}}</span>
        <div class="personal-details">
          <div class="detail" *ngFor="let detail of DETAILS">
            <mat-icon class="icon" [svgIcon]="'priority'"></mat-icon>
            <span class="detail__title">{{detail.title}}:</span>
            <span class="detail__description">{{detail.description}}</span>
          </div>
        </div>
        <span class="full-description">{{personalInformation.profileFullDescription}}</span>
      </div>
    </div>
    <span class="section-title">{{personalInformation.sections.facts.title}}</span>
    <span class="section-description">{{personalInformation.sections.facts.description}}</span>
    <div class="facts-section">
      <div class="fact" *ngFor="let fact of FACTS; let i = index" [attr.data-aos]="'fade-up'" [attr.data-aos-delay]="i * 100">
        <mat-icon [svgIcon]="fact.icon"></mat-icon>
        <div class="fact__metric">
          <span [countUp]="fact.metric"></span>
        </div>
        <div class="fact__description" [innerHTML]="fact.description">
        </div>
      </div>
    </div>
  </div>
</div>
