<mat-drawer-container style="position: relative">
  <mat-drawer mode="side" opened style="position: fixed; border:none">
    <sds-side-bar></sds-side-bar>
  </mat-drawer>
  <mat-drawer-content>
    <div id="home">
      <div class="hero-image">
      </div>
      <sds-hero></sds-hero>
    </div>
    <div id="about">
      <sds-about></sds-about>
    </div>
    <div id="resume">
      <sds-resume></sds-resume>
    </div>
    <div id="tools">
      <sds-tools></sds-tools>
    </div>
    <div id="portfolio">
      <sds-portfolio></sds-portfolio>
    </div>
    <div id="services">
      <sds-services></sds-services>
    </div>
    <div id="contact">
      <sds-contact></sds-contact>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
