<div class="side-bar">
  <div class="side-bar__profile">
    <div class="avatar">
      <img ngSrc="{{ environment.imageProfileAddress }}" alt="Plate photo" height="104" width="104">
    </div>
    <div class="name">
      <span>{{environment.myName}}</span>
    </div>
    <div class="links">
      <div class="link">
        <a href="{{environment.gitHubUrl}}" class="icon" target="_blank">
          <mat-icon class="icon" [svgIcon]="'github'"></mat-icon>
        </a>
      </div>
      <div class="link">
        <a href="{{environment.linkedInUrl}}" class="icon" target="_blank">
          <mat-icon class="icon" [svgIcon]="'linkedin'"></mat-icon>
        </a>
      </div>
      <div class="link">
        <a href="{{environment.instagramUrl}}" class="icon" target="_blank">
          <mat-icon class="icon" [svgIcon]="'instagram'"></mat-icon>
        </a>
      </div>
      <div class="link">
        <a href="{{environment.discordUrl}}" class="icon" target="_blank">
          <mat-icon class="icon" [svgIcon]="'discord'"></mat-icon>
        </a>
      </div>
      <div class="link">
        <a href="https://www.google.com" class="icon" target="_blank">
          <mat-icon [svgIcon]="'mail'"></mat-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="side-bar__navigation">
    <sds-navigation></sds-navigation>
  </div>
  <div class="side-bar__footer">
    <span>Developed by <a target="_blank" href="https://www.linkedin.com/in/dsliusarenko/">Dmytro Sliusarenko</a></span>
  </div>
</div>
