<div class="tools white-background">
  <div class="container">
    <span class="section-title">{{environment.sections.tools.title}}</span>
    <span class="section-description">{{environment.sections.tools.description}}</span>
    <mat-tab-group animationDuration="0ms" mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab label="Languages">
        <sds-tools-list [listType]="ListType.LANGUAGES"></sds-tools-list>
      </mat-tab>
      <mat-tab label="Frameworks">
        <sds-tools-list [listType]="ListType.FRAMEWORKS"></sds-tools-list>
      </mat-tab>
      <mat-tab label="Libraries">
        <sds-tools-list [listType]="ListType.LIBRARIES"></sds-tools-list>
      </mat-tab>
      <mat-tab label="Software">
        <sds-tools-list [listType]="ListType.SOFTWARE"></sds-tools-list>
      </mat-tab>
      <mat-tab label="Versions Control">
        <sds-tools-list [listType]="ListType.VERSIONS_CONTROL"></sds-tools-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
