<div class="services white-background">
  <div class="container">
    <span class="section-title">{{environment.sections.services.title}}</span>
    <span class="section-description">{{environment.sections.services.description}}</span>
    <div class="services-section">
      <div class="services-list">
        <div class="tool" *ngFor="let service of SERVICES" data-aos="flip-right">
          <div class="tool__icon">
            <div class="icon-container">
              <mat-icon [svgIcon]="service.icon"></mat-icon>
            </div>
          </div>
          <div class="tool__information">
            <span class="title">
              {{service.title}}
            </span>
            <span class="description">{{service.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
