<div class="carousel">
  <mat-icon [svgIcon]="'arrow-left'" (click)="prevSlide()"></mat-icon>
  <div class="slides">
    <div class="slide" *ngFor="let slide of visibleSlides" data-aos="fade-left" data-aos-duration="1000"
         matTooltip="{{slide.title}}">
      <img matChipAvatar src="{{slide.iconUrl}}" [alt]="slide.title"/>
      <span class="title" *ngIf="showTitles">{{ slide.title }}</span>
    </div>
  </div>
  <mat-icon [svgIcon]="'arrow-right'" (click)="nextSlide()"></mat-icon>
</div>
