@import "assets/styles/variables.scss";

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;

  font-size: 16px;
  color: $black-basic;
}

.container {
  display: grid;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.hero-image {
  position: fixed;
  z-index: -1;
  background: url(assets/images/hero-background.jpg);
  background-size: cover;
  height: 100vh;
  width: calc(100vw - 18rem);
}

.side-bar {
  background-color: $black-navigation;
  color: white;
  width: 14rem;
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      img {
        border-radius: 50%;
        border: 8px solid #2c2f3f;
        margin-bottom: 1rem;
      }
    }

    .name {
      font-size: 22px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
    }

    .links {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;

      .link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $gray-icons-background;
        margin-right: 0.5rem;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;

          mat-icon {
            color: white;
            width: 18px;
            height: 18px;
          }
        }
      }

      .link:hover {
        background-color: $blue-navigation;
        transition: all 0.4s;
        cursor: pointer;
      }
    }
  }

  &__navigation {
    margin-top: 1.5rem;

    .navigation-element {
      margin-bottom: 0.5rem;

      .icon, .text {
        color: $gray-navigation;
        vertical-align: middle;
      }

      .text {
        margin-left: 0.5rem;
        font-size: 15px;
      }
    }

    .navigation-element:hover {
      .icon, .text {
        transition: all 0.4s;
      }

      .icon {
        color: $blue-basic;
      }

      .text {
        color: white;
      }
    }

    a {
      padding-left: 0;
    }
  }

  &__footer {
    margin-top: auto;
    align-self: center;
    font-size: 13px;
    color: $white-navigation-footer;

    a {
      color: $blue-navigation
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100vh;

  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
  }

  h2, span {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }

  span {
    border-right: .15em solid white;
    animation: blink-caret .5s step-end infinite;
    padding-bottom: 4px;
    letter-spacing: 1px;
    text-decoration: underline 3px solid $blue-basic;
    text-underline-offset: 8px;
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent
    }
    50% {
      border-color: white
    }
  }

}

.tools-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-row-gap: 40px;
  margin: 3rem 0 2rem 0;

  .tool {
    display: flex;
    flex-direction: row;

    &__icon {
      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: $blue-basic;
        transition: background-color 0.5s ease;
      }
    }

    &__information {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;

      .title {
        font-weight: 700;
        margin-bottom: 1rem;
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        text-decoration: none;
        color: $black-section-item-title
      }

      .description {
        line-height: 24px;
        font-size: 14px;
        color: $black-basic
      }
    }
  }

  .tool:hover {
    .icon-container {
      box-sizing: border-box;
      border: 1px solid $blue-basic;
      background-color: white;
    }

    .title {
      cursor: pointer;
    }
  }
}

.portfolio {
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0 2rem 0;

    .project {
      max-width: 24rem;
    }
  }
}

.contact {
  .contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem 0 5rem 0;

    &__references {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .reference {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2.75rem;

        &__icon {
          .icon-container {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $gray-contact-icon-background;
            transition: background-color 0.5s ease;

            mat-icon {
              color: $blue-basic;
            }
          }
        }

        &__description {
          display: flex;
          flex-direction: column;
          margin-left: 1rem;

          .title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 0.25rem;
            color: $gray-contact-reference-title;
            font-family: "Raleway", sans-serif;
          }

          .content {
            font-size: 14px;
            color: $gray-contact-reference-description;
          }
        }
      }

      .reference:hover {
        .icon-container {
          background-color: $blue-basic;

          mat-icon {
            color: white;
          }
        }
      }
    }

    &__email {
      width: 50%;
      margin-left: 3rem;

      .form {
        &__first-line {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2rem;

          mat-form-field {
            width: 49%;
          }
        }

        &__second-line, &__third-line {
          mat-form-field {
            width: 100%;
          }
        }

        &__first-line, &__second-line, &__third-line {
          margin-bottom: 0.5rem;
        }

        &__fourth-line {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.resume {
  .resume-section {
    display: flex;
    justify-content: space-between;

    .resume-title {
      font-size: 26px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px;
      color: $black-resume-title;
    }

    .resume-item {
      padding: 0 0 20px 20px;
      margin-top: -2px;
      border-left: 2px solid #1f5297;
      position: relative;

      h5 {
        font-size: 16px;
        background: $white-resume-h5;
        padding: 5px 15px;
        display: inline-block;
        font-weight: 600;
        margin-bottom: 10px;
      }

      h4 {
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: $black-resume-title;
        margin-bottom: 10px;
      }

      ul {
        padding-left: 20px;
      }

      li {
        padding-bottom: 10px;
      }
    }

    .resume-item::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50px;
      left: -11px;
      top: 0;
      background: #fff;
      border: 2px solid #1f5297;
    }

    .resume-item:last-child {
      padding-bottom: 0;
    }

    &__summary {
      width: 49%;
      //background-color: yellow;
    }

    &__experience {
      width: 49%;
    }
  }
}

.about {
  .about-section {
    margin: 30px 0 60px 0;
    display: flex;

    &__description {
      display: flex;
      flex-direction: column;
      padding-left: 24px;

      .profile-title {
        font-weight: 700;
        font-size: 26px;
        color: $blue-section-title;
        margin-bottom: 1rem;
        font-family: "Raleway", sans-serif;
      }

      .short-description {
        font-size: 16px;
        font-style: italic !important;
        margin-bottom: 16px;
      }

      .full-description {
        margin-top: 20px;
        font-size: 16px;
      }

      .personal-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

        .detail {
          display: flex;
          flex-direction: row;
          align-items: center;


          &__title, &__description {
            font-size: 16px;
          }

          &__title {
            margin: 0 10px 0 5px;
            font-weight: bold;
          }

          mat-icon {
            color: $blue-basic;
          }
        }
      }
    }
  }

  .facts-section {
    display: flex;
    justify-content: space-evenly;

    .fact {
      width: 150px;

      mat-icon {
        position: relative;
        top: 40px;
        right: 60px;
        color: $blue-basic;
        width: 48px;
        height: 48px;
      }

      &__metric {
        span {
          font-size: 48px;
          font-weight: 700;
          color: $black-resume-title;
        }
      }

      &__description {
        padding-top: 0.25rem;

        span {
          font-family: "Raleway", sans-serif;
          font-size: 14px;
          color: $blue-facts-description;
          overflow-wrap: break-word;
        }
      }
    }
  }
}


@mixin section {
  padding: 4rem 0 2rem 0;
}

.portfolio, .resume, .tools, .contact, .about {
  @include section();
}


.snack-bar {
  display: flex;
  justify-content: center;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  color: $blue-section-title;
  text-decoration: underline 3px solid $blue-basic;
  text-underline-offset: 1rem;
}

.section-description {
  color: $black-basic;
  font: 18px Open-Sans sans-serif;
  margin-bottom: 1.5rem;
}

.gray-background {
  background-color: $gray-basic;
}

.white-background {
  background-color: white;
}
