@import "src/app/styles/variables.scss";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid {
  display: flex;
  flex-direction: row
}

.content {
  max-height: 100vh;
  overflow-y: auto;
}

.container {
  display: grid;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  //background-color: blue;
}

.home {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 18rem);

  .hero-image {
    position: fixed;
    z-index: -1;
    background: url(assets/images/hero-background.jpg);
    background-size: cover;
    height: 100vh;
    width: calc(100vw - 18rem);
  }
}

.side-bar {
  background-color: $black-navigation;
  color: white;
  width: 14rem;
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 1rem 2rem;

  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
      img {
        border-radius: 50%;
        border: 8px solid #2c2f3f;
        margin-bottom: 1rem;
      }
    }

    .name {
      font-size: 22px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
    }

    .links {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;

      .link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $gray-icons-background;
        margin-right: 0.5rem;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;

          mat-icon {
            color: white;
            width: 18px;
            height: 18px;
          }
        }
      }

      .link:hover {
        background-color: $blue-navigation;
        transition: all 0.4s;
        cursor: pointer;
      }
    }
  }

  &__navigation {
    margin-top: 1.5rem;

    .navigation-element {
      margin-bottom: 0.5rem;

      .icon, .text {
        color: $gray-navigation;
        vertical-align: middle;
      }

      .text {
        margin-left: 0.5rem;
        font-size: 15px;
      }
    }

    .navigation-element:hover {
      .icon, .text {
        transition: all 0.4s;
      }

      .icon {
        color: $blue-navigation;
      }

      .text {
        color: white;
      }
    }

    a {
      padding-left: 0;
    }
  }

  &__footer {
    margin-top: auto;
    align-self: center;
    font-size: 13px;
    color: $white-navigation-footer;

    a {
      color: $blue-navigation
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100vh;

  h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
  }

  h2, span {
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }

  span {
    border-right: .15em solid white;
    animation: blink-caret .5s step-end infinite;
    padding-bottom: 4px;
    letter-spacing: 1px;
    text-decoration: underline 3px solid $blue-underline;
    text-underline-offset: 8px;
  }

  @keyframes blink-caret {
    from, to {
      border-color: transparent
    }
    50% {
      border-color: white
    }
  }

}

// temp
.portfolio, .resume {
  height: 500px;
}

.gary-background {
  background-color: $gray-background;
}

.white-background {
  background-color: white;
}
