$gray-basic: #F5F8FD;
$blue-basic: #149ddd;
$black-basic: #272829;

$gray-navigation: #9597A2;
$blue-navigation: #149CDC;
$black-navigation: #040B14;
$white-navigation-footer: #eaebf0;

$gray-icons-background: #222431;

$blue-section-title: #173b6c;
$black-section-item-title: #343a40;

$gray-contact-reference-title: #45505b;
$gray-contact-reference-description: #728394;
$gray-contact-icon-background: #DFF2FC;

$black-resume-title: #050d18;
$white-resume-h5: #E4EDF9FF;
